<h1>Rechercher une adresse </h1>
<form action="" method="POST">
    {{form_label(Form.ville, "Choisissez la ville: ")}}
    {{form_widget(Form.ville)}}
    {{form_rest(Form)}}
    <input type="submit" value="Rechercher"/>
</form>